doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Distelli DevOps Automation
    link(rel='stylesheet', href='./style.css')
  body
    #message
        <p>Running in the {{this_env}} environment</p>
    #container
      h1 Today is Monday2.
      h1 Now is #{moment().format('MM/DD/YYYY')}
      a(href="https://www.distelli.com" target="_blank") Built and Deployed by Distelli
