doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Demo WebServer
    link(rel='stylesheet', href='./style.css')
  body
    #message
        <p>Demo this DocuSign France</p>
    #container
      h1 Hello World DocuSign France
      a(href="https://www.distelli.com" target="_blank") Built and Deployed by Puppet
